.btn {
  background-color: white;
}

.navbar {
  background-color: #00151e;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  border-radius: 50px;
}

.navbar-brand {
  font-size: 2rem;
}

.logoImage{
  overflow: hidden;
  border-radius: 500px;
}

.logo {
  width: 50%;
}

.navbar {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}

.navbar-nav .nav-item a{
    font-size: 1.1rem;
    font-weight: 200;
}

.navbar-nav .nav-item a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  display: block;
  transform: scaleX(0);
  transition: 0.3s ease;
  transform-origin: left;
}

.active::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
  transform: scaleX(1);
}

@media screen and (max-width: 770px) {
  .logo {
    width: 40%;
  }
  .navbar {
    background-color: #00151e;
   margin: 1%;
    border-radius: 50px;
  }
}